{{ define "main" }}

<!-- section -->
<section class="section-sm">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-12 col-md-10 mb-4 ">
        <!-- portfolio thumb -->
        <img src="{{ .Params.Image | relURL }}" class="img-fluid w-100">
      </div>
    </div>
    <!-- portfolio info -->
    <div class="d-flex flex-column flex-md-row mb-3 mb-sm-5 justify-content-between">
      <div class="mr-5">
        <h2>{{ .Title }}</h2>
      </div>
      {{ if .Params.project_url }}
      <div>
        <a href="{{ .Params.project_url | safeURL }}" class="btn btn-primary">{{ i18n "view_project" }}</a>
      </div>
      {{ end }}
    </div>

    {{ if .Params.information }}
    <div class="d-flex flex-column flex-sm-row flex-wrap mb-5 border-bottom border-primary pb-3">
      {{ range .Params.information }}
      <div class="mr-5 mb-3 ">
        <div class="d-flex align-items-center">
          <i class="{{ .icon }} text-primary icon-md mr-3"></i>
          <div class="text-left">
            <h6 class="mb-0">{{ .name | upper }}</h6>
            <p class="mb-0">{{ .value }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}

    <!-- portfolio details -->
    <div class="row">
      <div class="col-12 mb-4 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /section -->

{{ end }}