<!-- 
  PORTAFOLIO CARD
 -->

<div class="card p-0 border-primary rounded-0 hover-shadow">
  <div class="aspect-ratio">
    <img class="card-img-top rounded-0" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
  </div>
  <!-- card content -->
  <div class="card-body">

    <!-- card title -->
    <h4 class="card-title" title="{{ .Title }}">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h4>

    <!-- summary -->
    <p class="card-text mb-4">{{ .Summary | truncate 100 }}</p>

    <!-- link -->
    <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">{{ i18n "view_project"}}</a>
  </div>
</div>