<div class="col-lg-4 col-sm-6 mb-4">
  <article class="card shadow">
    <div class="rounded aspect-ratio">
      <img class="card-img-top" src="{{.Params.Image | relURL}}" alt="{{.Title }}">
    </div>
    <div class="card-body">
      <h4 class="card-title text-truncate"><a class="text-dark " href="{{.Permalink}}"
          title="{{.Title }}">{{.Title }}</a>
      </h4>
      <div class="text-aspect-ratio">
        <p class="card-text">{{.Summary}}</p>
        <div class="overflow-blur"></div>
      </div>
      <a href="{{.Permalink}}" class="btn btn-sm btn-primary">Ver más</a>
    </div>
  </article>
</div>